@model  WebApplication1.Models.View_Models.VMvehicleFilters

@{
    ViewBag.Title = "Home Page";
}

<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                @using (Html.BeginForm("SetVehicles", "Home", FormMethod.Get))
                {
                    <div class="form-group">
                        <label>@Resource.lblPickupPlace</label>
                        @Html.DropDownListFor(x => x.LstOffices, Model.LstOffices, Model.LstOffices.SelectedValue == null ? Resource.SelectPlace : Model.LstOffices.SelectedValue.ToString(), new { @class = "form-control" })
                        @Html.DropDownListFor(x => x.LstMakes, Model.LstMakes, Model.LstMakes.SelectedValue == null ? Resource.SelectMake : Model.LstMakes.SelectedValue.ToString(), new { @class = "form-control" })
                        @Html.DropDownListFor(x => x.LstFuels, Model.LstFuels, Model.LstFuels.SelectedValue == null ? Resource.SelectFuel : Model.LstFuels.SelectedValue.ToString(), new { @class = "form-control" })
                        @Html.DropDownListFor(x => x.LstDoors, Model.LstDoors, Model.LstDoors.SelectedValue == null ? Resource.SelectDoors : Model.LstDoors.SelectedValue.ToString(), new { @class = "form-control" })
                        @* @Html.DropDownList("officeFilter", (SelectList)Session["lstOffices"], "Select the pick-up place", new { @class = "form-control" })  @*new { @class = "form-control", onchange = "this.form.submit();" })*@
                    </div>
                    <button type="submit" class="btn btn-primary my-3">@Resource.Search</button>
                }
            </div>


            <div class="col-md-6">
                <div class="p-5 text-center bg-secondary text-white">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div id="carouselArchitecture" class="carousel slide" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        <li data-target="#carouselArchitecture" data-slide-to="0" class="active">
                                            <i></i>
                                        </li>
                                        <li data-target="#carouselArchitecture" data-slide-to="1">
                                            <i></i>
                                        </li>
                                        <li data-target="#carouselArchitecture" data-slide-to="2">
                                            <i></i>
                                        </li>
                                    </ol>
                                    <div class="carousel-inner" role="listbox">
                                        <div class="carousel-item active">
                                            <img class="d-block img-fluid" src="https://pingendo.github.io/templates/sections/assets/gallery_architecture_1.jpg" data-holder-rendered="true">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block img-fluid" src="https://pingendo.github.io/templates/sections/assets/gallery_architecture_2.jpg" data-holder-rendered="true">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block img-fluid" src="https://pingendo.github.io/templates/sections/assets/gallery_architecture_3.jpg" data-holder-rendered="true">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jquery")


}