@model IEnumerable<WebApplication1.Models.View_Models.VMvehicle>

@{
    ViewBag.Title = Resource.VehicleSelectTitle;
}

<nav class="navbar navbar-expand-md bg-primary navbar-light border border-light">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center justify-content-start" id="navbar2SupportedContent">
            <a class="btn navbar-btn ml-2 text-white btn-danger" href="@Url.Action("Index", "Home")"> @Resource.NewSearch</a>
            <a class="btn navbar-btn ml-2 text-white btn-danger" href="@Url.Action("Fleet", "Vehicles")"> @Resource.SeeAllVehicles</a>
        </div>
        <span>@Model.Count() @Resource.Results</span>
    </div>
</nav>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.MakeName)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MakeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModelName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DailyPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ndays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PromoTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PriceToPay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DoorsCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FuelName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CCName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            <img src="@Url.Content(item.PicPath)" alt=@item.PicLabel title=@item.PicLabel style="height:215px; width:385px"/> @*style="height:275px; width:275px"*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MakeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModelName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DailyPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ndays)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PromoTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PriceToPay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DoorsCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FuelName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CCName)
        </td>
        <td>

            @Html.ActionLink(Resource.RentThisLink, "Rent", new { typeId = item.TypeId })
            @Html.ActionLink(@Resource.vDetailsLink, "GetVehicleDetails", new {typeId = item.TypeId, startDate = item.StartDate, endDate = item.EndDate })
        </td>
    </tr>
    }

</table>
